h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  color: #ffe8b7;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  color: #333;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  margin-bottom: 10px;
  font-family:'Open Sans', sans-serif;
  color: #ffe8b7;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.hero-section {
  height: 700px;
  background-image: -webkit-radial-gradient(50% 50%, circle, rgba(0, 0, 0, 0.29), rgba(255, 255, 255, 0) 97%), url('../images/hero-banner.jpg');
  background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.29), rgba(255, 255, 255, 0) 97%), url('../images/hero-banner.jpg');
  background-position: 0px 0px, 50% 92%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.hero-header {
  margin-top: 0px;
  padding-top: 200px;
  font-family: Oswald, sans-serif;
  color: #ffe8b7;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-shadow: #1d0606 1px 1px 0px;
}
.button {
  display: block;
  width: 150px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fc4949;
  box-shadow: rgba(13, 1, 1, 0.49) 2px 2px 0px 0px;
  font-family: Oswald, sans-serif;
  color: #ffe8b7;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.button:hover {
  background-color: white;
  color: #fd4a4a;
}
.button.contact-button {
  background-color: #ffe8b7;
  color: #fd4a4a;
}
.gallery-section {
  height: auto;
  padding: 50px;
  background-color: #fd4a4a;
}
.icon-img {
  display: block;
  width: 180px;
  margin: 40px auto 30px;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fd4a4a;
}
.footer-section {
  height: 150px;
  padding-bottom: 50px;
  background-color: #333;
}
.footer-links {
  display: block;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
.footer-linktext {
  padding: 25px 10px 10px;
  font-family:'Open Sans', sans-serif;
  color: #ffe8b7;
  font-size: 16px;
  line-height: 22px;
}
.topnav-link {
  font-family: Oswald, sans-serif;
  color: #ffe8b7;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.topnav-link:hover {
  color: white;
  text-shadow: #470000 1px 1px 0px;
}
.textlogo {
  padding-top: 14px;
  font-family: Oswald, sans-serif;
  color: #ffe8b7;
  font-size: 31px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-shadow: #333 2px 2px 0px;
}
.textlogo.foooter-spacing {
  padding-top: 40px;
}
.about-us {
  background-image: url('../images/gym.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.about-us-div {
  display: block;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  background-color: rgba(252, 73, 73, 0.7);
}
.aboutus-header {
  margin-top: 0px;
  margin-bottom: 0px;
}
.about-us-para {
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}
.contact-label {
  font-family: Oswald, sans-serif;
  color: white;
  font-size: 18px;
  text-align: center;
}
.contact-field {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.faqs-header {
  color: #fd4a4a;
}
.faqs-div {
  display: block;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}
.faqs-para {
  color: #333;
  text-align: left;
}
@media (max-width: 991px) {
  .hero-section {
    height: 500px;
  }
  .hero-header {
    padding-top: 150px;
  }
  .mobile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffe8b7;
    font-size: 40px;
    line-height: 10px;
  }
  .about-us-div {
    width: auto;
  }
  .faqs-div {
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  .footer-section {
    height: auto;
    padding-bottom: 50px;
  }
}
@media (max-width: 479px) {
  .footer-links {
    width: auto;
  }
  .footer-linktext {
    float: left;
  }
  .contact-field {
    width: 200px;
  }
}