h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  color: #ffe8b7;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  color: #333;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  margin-bottom: 10px;
  font-family:'Open Sans', sans-serif;
  color: #ffe8b7;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fd4a4a;
}
.footer-section {
  height: 150px;
  padding-bottom: 50px;
  background-color: #333;
}
.footer-links {
  display: block;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
.footer-linktext {
  padding: 25px 10px 10px;
  font-family:'Open Sans', sans-serif;
  color: #ffe8b7;
  font-size: 16px;
  line-height: 22px;
}
.topnav-link {
  font-family: Oswald, sans-serif;
  color: #ffe8b7;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.topnav-link:hover {
  color: white;
  text-shadow: #470000 1px 1px 0px;
}
.textlogo {
  padding-top: 14px;
  font-family: Oswald, sans-serif;
  color: #ffe8b7;
  font-size: 31px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-shadow: #333 2px 2px 0px;
}
.textlogo.foooter-spacing {
  padding-top: 40px;
}
.faqs-header {
  color: #fd4a4a;
}
.faqs-div {
  display: block;
  width: auto;
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 30px;
}
.faqs-para {
  color: #333;
  text-align: left;
}
@media (max-width: 991px) {
  .mobile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffe8b7;
    font-size: 40px;
    line-height: 10px;
  }
  .faqs-div {
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
  }}
@media (max-width: 767px) {.footer-section {
    height: auto;
    padding-bottom: 50px;
  }}
@media (max-width: 479px) {.footer-links {
    width: auto;
  }
  .footer-linktext {
    float: left;
  }}

